.projects-section {
  padding-top: 96px;
}

.projects-swiper-container {
  width: 100%;
}

.projects-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 24px;
}

.projects-container {
  position: relative;
  padding-bottom: 84px;
}

.projects-list {
  display: flex;
}

.projects-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  height: 812px;
}

.project-info-container {
  width: 100%;
  height: 417px;
  border-radius: 24px 24px 0 0;
  padding: 32px;
  background-color: var(--main-text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-lang-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.projects-lang-item {
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  padding: 18px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-lang-item-text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--background);
}

.project-description-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.project-description {
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: var(--background);
}

.project-link {
  border-radius: 60px;
  width: 141px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--button-text);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--main-text);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-button:hover,
.projects-button:focus {
  background-color: var(--button-hover);
  cursor: pointer;
}

.projects-img-wrapper {
  width: 100%;
  height: 395px;
  background-color: var(--cards);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 24px 24px;
}

.projects-img {
  width: 311px;
  height: 195px;
}

@media screen and (min-width: 768px) {
  .projects-section {
    padding-top: 96px;
  }

  .projects-title {
    margin-bottom: 32px;
  }

  .projects-container {
    position: relative;
    padding-bottom: 132px;
  }

  .projects-item {
    height: 1191px;
  }

  .project-info-container {
    height: 566px;
    padding: 64px;
  }

  .projects-lang-item-text {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: var(--background);
  }

  .project-description-wrapper {
    display: flex;
    flex-direction: column;
    gap: 42px;
  }

  .project-description {
    font-size: 44px;
    line-height: 100%;
  }

  .projects-img-wrapper {
    height: 625px;
  }

  .projects-img {
    width: 614px;
    height: 385px;
  }
}

@media screen and (min-width: 1440px) {
  .projects-list {
    margin-bottom: 64px;
  }

  .projects-item {
    height: 625px;
    flex-direction: row;
    border-radius: 24px;
  }

  .project-info-container {
    border-radius: 24px 0 0 24px;
    width: 50%;
    height: 625px;
  }

  .projects-img-wrapper {
    border-radius: 0 24px 24px 0;
    width: 50%;
    height: 625px;
  }
}
