<div class="about-swiper-container">
  <div class="about-skills-container swiper">
    <ul class="about-skills-list swiper-wrapper">
      <li class="about-skills-item active swiper-slide">
        <span>HTML/CSS</span>
      </li>
      <li class="about-skills-item swiper-slide">
        <span>JavaScript</span>
      </li>
      <li class="about-skills-item swiper-slide">
        <span>React</span>
      </li>
      <li class="about-skills-item swiper-slide">
        <span>Node.js</span>
      </li>
      <li class="about-skills-item swiper-slide">
        <span>React Native</span>
      </li>
      <li class="about-skills-item swiper-slide">
        <span>Type.js</span>
      </li>
      <li class="about-skills-item swiper-slide">
        <span>Soft skills</span>
      </li>
    </ul>
  </div>
  <button class="about-arrow-btn-next">
    <svg
      class="about-arrow-icon"
      aria-label="Arrow icon"
      width="28"
      height="28"
    >
      <use href="./img/icons/symbols.svg#icon-arrow-right"></use>
    </svg>
  </button>
</div>
