<ul class="about-acc-container accordion-container">
  <li class="about-acc-item ac">
    <h3 class="about-acc-header ac-header ac-trigger">
      About me
      <button type="button" class="about-acc-button">
        <svg
          class="about-acc-icon"
          aria-label="Arrow icon"
          width="18"
          height="18"
        >
          <use href="./img/icons/symbols.svg#icon-dropdown"></use>
        </svg>
      </button>
    </h3>

    <div class="about-acc-panel ac-panel">
      <ul class="about-acc-text">
        <li class="about-acc-list-item">
          I am Lloyd Jefferson, a talented programmer with extensive expertise
          in software development. I have an understanding of different
          programming languages and technologies, always ready to improve my
          skills. I always follow the latest trends and look for unconventional,
          creative solutions to problems. I have a high level of analytical
          skills and am able to effectively solve even the most difficult tasks
          encountered on the way.
        </li>
        <li class="about-acc-list-item">
          Able to work both independently and in a team. I can effectively
          cooperate with colleagues, exchanging ideas and finding optimal
          solutions. Professional maturity allows you to calmly cope with
          challenges and stressful situations, while maintaining a high quality
          of work. I am always looking for opportunities for self-improvement. I
          actively study new technologies and practices to stay abreast of the
          latest innovations. I have a strong understanding of various
          programming languages, frameworks and architectural concepts that
          allow me to create efficient and scalable software.
        </li>
      </ul>
    </div>
  </li>

  <li class="about-acc-item ac">
    <h3 class="about-acc-header ac-header ac-trigger">
      Role
      <button type="button" class="about-acc-button">
        <svg class="about-acc-icon" aria-label="Arrow icon">
          <use href="./img/icons/symbols.svg#icon-dropdown"></use>
        </svg>
      </button>
    </h3>

    <div class="about-acc-panel ac-panel">
      <ul class="about-acc-list">
        <li class="about-acc-list-item">Frontend development</li>
        <li class="about-acc-list-item">HeadlessCMS, Wordpress</li>
        <li class="about-acc-list-item">Blender(enjoy)</li>
      </ul>
    </div>
  </li>

  <li class="about-acc-item ac">
    <h3 class="about-acc-header ac-header ac-trigger">
      Education
      <button type="button" class="about-acc-button">
        <svg
          class="about-acc-icon"
          aria-label="Arrow icon"
          width="28"
          height="28"
        >
          <use href="./img/icons/symbols.svg#icon-dropdown"></use>
        </svg>
      </button>
    </h3>

    <div class="about-acc-panel ac-panel">
      <ul class="about-acc-list">
        <li class="about-acc-list-item">
          2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
        </li>
        <li class="about-acc-list-item">
          2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
          New York
        </li>
        <li class="about-acc-list-item">
          2020 - 2022 / Advanced Blender Animation Techniques, Udemy
        </li>
      </ul>
    </div>
  </li>
</ul>
