<section class="benefits-section" id="id-benefits">
  <div class="container container-benefits">
    <h2 class="benefits-title">Benefits of working with me</h2>
    <div class="wrap">
      <ul class="benefits-list">
        <li class="benefit-item">
          <div class="benefit-icon-wrap">
            <svg class="benefit-icon" width="24" height="24">
              <use href="./img/icons/symbols.svg#icon-user"></use>
            </svg>
          </div>
          <h3 class="benefit-title">Expertise</h3>
          <p class="benefit-description">
            As a highly experienced developer, I have deep knowledge of
            programming and website development.
          </p>
        </li>
        <li class="benefit-item">
          <div class="benefit-icon-wrap">
            <svg class="benefit-icon" width="24" height="24">
              <use href="./img/icons/symbols.svg#icon-dialog"></use>
            </svg>
          </div>
          <h3 class="benefit-title">Communication</h3>
          <p class="benefit-description">
            Understanding your needs and wants is my priority and I am always
            open to discussions and corrections.
          </p>
        </li>
        <li class="benefit-item">
          <div class="benefit-icon-wrap">
            <svg class="benefit-icon" width="24" height="24">
              <use href="./img/icons/symbols.svg#icon-pencil"></use>
            </svg>
          </div>
          <h3 class="benefit-title">Art</h3>
          <p class="benefit-description">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
        </li>
        <li class="benefit-item">
          <div class="benefit-icon-wrap">
            <svg class="benefit-icon" width="24" height="24">
              <use href="./img/icons/symbols.svg#icon-hourglass"></use>
            </svg>
          </div>
          <h3 class="benefit-title">Urgent execution</h3>
          <p class="benefit-description">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
        </li>
      </ul>
      <a href="#id-order" class="order-project js-project-order"
        >Order the project</a
      >
    </div>
  </div>
</section>
