<ul class="faq-acc-container accordion-container">
  <li class="ac faq-acc-item">
    <h3 class="faq-acc-header ac-header ac-trigger">
      What programming languages are most often used in your project?
      <button type="button" class="faq-acc-button">
        <svg
          class="faq-acc-icon"
          aria-label="Arrow icon"
          width="18"
          height="18"
        >
          <use href="./img/icons/symbols.svg#icon-dropdown"></use>
        </svg>
      </button>
    </h3>

    <div class="faq-acc-panel ac-panel">
      <p class="faq-acc-text">
        In the field of web development, there are various technologies and
        programming languages. Typically, this includes a combination of
        frontend (client side) and backend (server side) languages.
      </p>
    </div>
  </li>

  <li class="faq-acc-item ac">
    <h3 class="faq-acc-header ac-header ac-trigger">
      What are the deadlines for the project?
      <button type="button" class="faq-acc-button">
        <svg
          class="faq-acc-icon"
          aria-label="Arrow icon"
          width="18"
          height="18"
        >
          <use href="./img/icons/symbols.svg#icon-dropdown"></use>
        </svg>
      </button>
    </h3>

    <div class="faq-acc-panel ac-panel">
      <p class="faq-acc-text">
        The terms of project implementation depend to a large extent on a number
        of factors, such as the scope of the project, its complexity, and the
        availability of resources. Determining exact deadlines is a difficult
        task, and it usually occurs during the planning phase of the project.
      </p>
    </div>
  </li>

  <li class="faq-acc-item ac">
    <h3 class="faq-acc-header ac-header ac-trigger">
      What payment methods do you accept?
      <button type="button" class="faq-acc-button">
        <svg
          class="faq-acc-icon"
          aria-label="Arrow icon"
          width="18"
          height="18"
        >
          <use href="./img/icons/symbols.svg#icon-dropdown"></use>
        </svg>
      </button>
    </h3>

    <div class="faq-acc-panel ac-panel">
      <p class="faq-acc-text">
        Payment through credit and debit cards such as Visa, MasterCard,
        specialized electronic payment systems such as PayPal, as well as
        payments in cryptocurrencies such as Bitcoin, Ethereum and others.
      </p>
    </div>
  </li>

  <li class="faq-acc-item ac">
    <h3 class="faq-acc-header ac-header ac-trigger">
      How can I contact you?
      <button type="button" class="faq-acc-button">
        <svg
          class="faq-acc-icon"
          aria-label="Arrow icon"
          width="18"
          height="18"
        >
          <use href="./img/icons/symbols.svg#icon-dropdown"></use>
        </svg>
      </button>
    </h3>

    <div class="faq-acc-panel ac-panel">
      <p class="faq-acc-text">
        In the field of web development, there are various technologies and
        programming languages. Typically, this includes a combination of
        frontend (client side) and backend (server side) languages.
      </p>
    </div>
  </li>

  <li class="faq-acc-item ac">
    <h3 class="faq-acc-header ac-header ac-trigger">
      Do you provide advice or support?
      <button type="button" class="faq-acc-button">
        <svg
          class="faq-acc-icon"
          aria-label="Arrow icon"
          width="18"
          height="18"
        >
          <use href="./img/icons/symbols.svg#icon-dropdown"></use>
        </svg>
      </button>
    </h3>

    <div class="faq-acc-panel ac-panel">
      <p class="faq-acc-text">
        The terms of project implementation depend to a large extent on a number
        of factors, such as the scope of the project, its complexity, and the
        availability of resources. Determining exact deadlines is a difficult
        task, and it usually occurs during the planning phase of the project.
      </p>
    </div>
  </li>

  <li class="faq-acc-item ac">
    <h3 class="faq-acc-header ac-header ac-trigger">
      What does the process of developing a software product look like from idea
      to implementation?
      <button type="button" class="faq-acc-button">
        <svg
          class="faq-acc-icon"
          aria-label="Arrow icon"
          width="18"
          height="18"
        >
          <use href="./img/icons/symbols.svg#icon-dropdown"></use>
        </svg>
      </button>
    </h3>

    <div class="faq-acc-panel ac-panel">
      <p class="faq-acc-text">
        Payment through credit and debit cards such as Visa, MasterCard,
        specialized electronic payment systems such as PayPal, as well as
        payments in cryptocurrencies such as Bitcoin, Ethereum and others.
      </p>
    </div>
  </li>
</ul>
