<section class="hero-section" id="id-hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      Hello. I&#39;m Fullstack developer Lloyd Jefferson.
    </h1>
    <div class="last-line">
      <ul class="hero-social-list list">
        <li class="hero-social-list-item">
          <a
            class="hero-social-list-link"
            target="_blank"
            rel="noopener"
            href="https://www.instagram.com/goitclub/"
            >ig
          </a>
        </li>
        <li class="hero-social-list-item">
          <a
            class="hero-social-list-link"
            target="_blank"
            rel="noopener"
            href="https://www.facebook.com/goITclub/"
            >fb
          </a>
        </li>
        <li class="hero-social-list-item">
          <a
            class="hero-social-list-link"
            target="_blank"
            rel="noopener"
            href="https://www.youtube.com/GoIT"
            >yt
          </a>
        </li>
        <li class="hero-social-list-item">
          <a
            class="header-social-list-link"
            target="_blank"
            rel="noopener"
            href="https://github.com/aandrea-alex/alex-template-portfolio"
            >GH
          </a>
        </li>
      </ul>
      <address class="hero-address">
        <a href="email:lloydjefferson@gmail.com" class="hero-email-link link"
          >lloydjefferson@gmail.com</a
        >
      </address>
    </div>
  </div>
</section>
