<div class="mobile-menu js-mobile-menu">
  <div class="mobile-menu-container">
    <button class="mobile-menu-close-btn js-mobile-menu-close-btn">
      <svg
        class="mobile-menu-close-icon"
        width="28"
        height="28"
        aria-label="Close icon"
      >
        <use href="./img/icons/symbols.svg#icon-x"></use>
      </svg>
    </button>

    <nav class="mobile-menu-navigation">
      <ul class="mobile-menu-nav js-mobile-menu-nav">
        <li>
          <a href="#id-about" class="mobile-menu-item-link">About me</a>
        </li>

        <li>
          <a href="#id-benefits" class="mobile-menu-item-link">Benefits</a>
        </li>

        <li>
          <a href="#id-projects" class="mobile-menu-item-link">Projects</a>
        </li>

        <li>
          <a href="#id-reviews" class="mobile-menu-item-link">FAQ</a>
        </li>
      </ul>
    </nav>

    <a href="#id-order" class="mobile-menu-order-link js-mobile-menu-order"
      >Order the project</a
    >
  </div>
</div>
