<section class="reviews-section" id="id-reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="reviews-swiper-container swiper">
      <ul class="reviews-list swiper-wrapper"></ul>
    </div>

    <div class="custom-container-buttons reviews-buttons">
      <button class="custom-btn-prev reviews-btn-prev">
        <svg
          class="custom-icon-prev reviews-icon-prev"
          aria-label="Arrow icon left"
        >
          <use href="./img/icons/symbols.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="custom-btn-next reviews-btn-next">
        <svg
          class="custom-icon-next reviews-icon-next"
          aria-label="Arrow icon right"
        >
          <use href="./img/icons/symbols.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
